.sample-panel-container {
    margin: 10px;
}

.sample-panel-container > div {
    text-align: center;
}

.input-row {
    margin: 8px;
}

.input-row > label {
    display: inline-block;
    width: 100px;
}

.input-row > button {
    background-color: #f2f2f2;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    color: #404040;
    cursor: pointer;
    width: 60px;
    text-align: center;
    margin: 4px 4px 4px 4px;
    padding: 4px;
}
