<div id="sample-panel" class="sample-panel-container">
    <div class="input-row">
        <label for="property-name">Property Name</label>
        <input id="property-name" type="text">
    </div>
    <div class="input-row">
        <label for="property-value">Property Value</label>
        <input id="property-value" type="text">
    </div>
    <div class="input-row">
        <button id="apply-btn">Apply</button>
        <button id="close-btn">Close</button>
    </div>
</div>
